<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentGenetic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <StudentGenetic.Properties.Settings>
            <setting name="timetableMaxHoursInDay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="timetableHoursInWeek" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="numberOfStudents" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="logSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="coefLerning" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="coefSchoolActive" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="coefSchoolPasive" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="coefLongTermMemory" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="coefRest" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="timeToHome" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="homeFood" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="coefGiveUp" serializeAs="String">
                <value>0.5</value>
            </setting>
        </StudentGenetic.Properties.Settings>
    </userSettings>
</configuration>